.geofence-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 340px;
  padding-top: 0.5rem;
}

.coords {
  display: flex;
  gap: 0.75rem;

  mat-form-field {
    flex: 1;
  }
}
